<div class="container-fluid" id="about">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="about-images">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="about-content">
            <h1>Welcome to the End!</h1>
            <p>
                Zurival ist ein Multiplayer Survival Spiel, das im Rahmen des Mittelstufen Projektes der SZUT Bremen von einer 5 Mann großen Gruppe entwickelt wird.
                Vorgabe des Projektes ist es die Technologien NodeJS und AngularJS zu verwenden. Die restlichen Aspekte waren der Gruppe frei überlassen. Aus diesem Grund hat sich unsere Gruppe für ein Multiplayerspiel entschieden, um im Rahmen der Durchführung Networking und Server-side Applications kennenzulernen.
                Das Spiel orientiert sich unteranderem an diversen .io Titeln wie z.B. agar.io oder cursors.io.
            </p>
            <div class="row">
                <div class="xs-12 col-sm-12 col-md-4 col-lg-4">
                    <button class="btn btn-lg">The repository on GitHub</button>
                </div>
                <div class="xs-12 col-sm-12 col-md-4 col-lg-4">
                    <button class="btn btn-lg">FAQ</button>
                </div>
                <div class="xs-12 col-sm-12 col-md-4 col-lg-4">
                    <button class="btn btn-lg">Screenshots</button>
                </div>
            </div>
        </div>
    </div>
</div>
