<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3 class="navbar-left">{{ user.username }} - Friends</h3>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" id="friendsSearchInput" class="form-control" placeholder="Find new Friends..." ng-model="searchFriends" data-toggle="modal" data-target=".bs-example-modal-lg">
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-danger" onclick="$('#friendsSearchInput').val('');">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
            <table class="table table-bordered table-striped table-condensed">
                <tr ng-repeat="user in allUsers | filter:searchFriends">
                    <td> {{ user.username }}</td>
                    <td>
                        <button type="button" class="btn btn-success">
                            <span class="fa fa-plus"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Friend</th>
                        <th>Chat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="friend in friends">
                        <td>Max Mustermann</td>
                        <td>
                            <button class="btn btn-default" id="openchat">
                                <span class="fa fa-comments"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="chat">
    <header>
        <p>Chat mit Freund!</p>
        <button type="button" class="close" aria-label="Close" id="closeChat">
            <span aria-hidden="true">&times;</span>
        </button>
    </header>
    <main>
        <p id="friendsMessage"><b>Max:</b> Friends Message Placehodler</p>
    </main>
    <footer>
        <input type="text" id="chattext">
        <button type="submit" id="sendmessage">Send</button>
    </footer>
</div>
<script src="../scripts/friends-chat.js"></script>
