<div class="container-fluid" ng-Controller="HomeCtrl">
    <!-- Header -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="logo-container">
            <h1 class="text-center"> {{title}} </h1>
        </div>
    </div>
    <!-- About text -->
    <div class="row">
        <div class="container"><div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
                Zurival is a multiplayer survival game currently developed by a 6 man team as part of a school project.
                Given specifications are JavaScript with NodeJS and AngularJS. We are free to use any additional technologies.
                Therefore our team decided to create a multiplayer game to learn more about networking and server side applications.
                The game idea is based on some famouse .io titles like agar.io or cursors.io
                <br>
                <br>
                The game has one easy understandable rule: Survive!
                <br>
                <br>
                Survive multiple waves of zombies in a round to earn items and experience points.
                Exchange and trade items with other players and sell them to earn more money.
                <br>
                <br>
                If you are interested in the code or the road of development click on the "Fork me on GitHub". We develop the game in public under the
                GNU General Public License (Version 3) to get feedback directly from the players and interested game developers.
                So create an account to get started or click the play button below to start a game if you are already logged in.
                <br>
                <br>
                At least we just want to wish you fun with our little game.
            </p>
        </div></div></div>
        <div class="col-xs-0 col-sm-0 col-md-12 col-lg-12" id="play-button">
            <a class="btn btn-lg btn-block" ui-sref="{{ playBtnLink }}"><span class="fa fa-play"> Play Zurival now!</a>
        </div>
    </div>
</div>
<!-- GitHub Ribbon -->
<a href="https://github.com/FA15bZombieSurvival/Zurival"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
