<div class="container-fluid" ng-Controller="HomeCtrl">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="logo-container">
            <h1 class="text-center">{{title}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-0 col-sm-0 col-md-12 col-lg-12" id="play-button">
            <button class="btn btn-lg btn-block"><span class="glyphicon glyphicon-play"> Play Game</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="thumbnail">
                <img src="../images/favicon.png">
                <div class="caption">
                    <h3>About</h3>
                    <p>...</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="thumbnail">
                <img src="../images/favicon.png">
                <div class="caption">
                    <h3>FAQ</h3>
                    <p>...</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="thumbnail">
                <img src="../images/favicon.png">
                <div class="caption">
                    <h3>Screenshots</h3>
                    <p>...</p>
                </div>
            </div>
        </div>
    </div>
</div>
