<div class="container-fluid" ng-Controller="HomeCtrl">
    <!-- Header -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="logo-container">
            <h1 class="text-center"> {{title}} </h1>
        </div>
    </div>
    <!-- About text -->
    <div class="row">
        <div class="container"><div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
		Zurival is a multiplayer survival game that has currently been developed by a team of six students as part of a school project. Given specifications are JavaScript with NodeJS and AngularJS. We were free to use any additional technologies. Therefore our team decided to create a multiplayer game to learn more about networking and server side applications. The game idea is based on some famous .io titles like agar.io or cursors.io 
<br><br>
The game has one easily understandable rule: Survive! 
<br><br>
Survive multiple waves of zombies per round to earn items and experience points. Exchange and trade items with other players and sell them to earn more money. 
<br><br>
If you are interested in the code or the process of development click "Fork me on GitHub". We developed the game in public under the GNU General Public License (Version 3) to get feedback directly from the players and interested game developers. So create an account to get started or click the play button below to start a game if you are already logged in. 
<br><br>
At last we hope you have fun with our little game. Enjoy!
            </p>
        </div></div></div>
        <div class="col-xs-0 col-sm-0 col-md-12 col-lg-12" id="play-button">
            <a class="btn btn-lg btn-block" ui-sref="{{ playBtnLink }}"><span class="fa fa-play"> Play Zurival now!</a>
        </div>
    </div>
</div>


