<!-- Navigation (Bootstrap Navbar) -->
<nav class="navbar navbar-inverse navbar-fixed-top" ng-Controller="NavigationCtrl">
    <button class="btn btn-lg" id="nav-toggle">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
    <ul class="nav navbar-nav">
        <li>
            <a ui-sref=".">
                <span class="fa fa-home"></span>
                <span class="hidden nav-hidden"> Home</span>
            </a>
        </li>
        <li>
            <a ui-sref=".game.lobby">
                <span class="fa fa-play"></span>
                <span class="hidden nav-hidden"> Game</span>
            </a>
        </li>
        <li ng-show="!isLoggedIn">
            <a ui-sref=".login" id="navigationUser">
                <span class="fa fa-user"></span>
                <span class="hidden nav-hidden"> Login</span>
            </a>
        </li>
        <li ng-show="isLoggedIn">
            <a ui-sref=".profile">
                <span class="fa fa-user"></span>
                <span class="hidden nav-hidden"> Profile</span>
            </a>
        </li>
        <li>
            <a ui-sref=".about">
                <span class="fa fa-question"></span>
                <span class="hidden nav-hidden"> About</span>
            </a>
        </li>
        <li ng-show="isLoggedIn" id="navigationLogout">
            <button id="logout" class="btn btn-default" ng-click="authentication.logout()" type="button">
                <span class="fa fa-power-off"></span>
                <span class="hidden nav-hidden">Log Out</span>
            </button>
        </li>
    </ul>
</nav>
<!-- Include navigation toggler -->
<script src="../scripts/navigation-toggle.js"></script>
