<div class="container-fluid" id="registration-wrapper">
    <div class="row">
        <!-- Placeholder (neccessary for layout) -->
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="center-form panel">
                <!-- Registration form -->
                <form method="post" ng-submit="signup()" name="signupForm">
                    <div class="panel-body">
                        <h2 class="text-center">{{title}}</h2>

                        <div class="form-group" ng-class="{ 'has-success' : signupForm.username.$valid && signupForm.username.$dirty, 'has-error' : signupForm.username.$invalid && signupForm.username.$dirty || userDup }">
                            <input class="form-control input-lg" type="text" id="username" name="username" ng-model="username" placeholder="Username*" check-username required autofocus>
                            <div class="help-block text-danger" ng-if="signupForm.username.$dirty" ng-messages="signupForm.username.$error">
                                <span class="help-block text-danger my-special-animation" ng-show="signupForm.username.$error.required">Required</span>
                                <span class="help-block text-danger my-special-animation" ng-show="signupForm.username.$error.check">Username is invalid.</span>
                            </div>
                            <div class="help-block text-danger" ng-if="userDup">
                                <span class="help-block text-danger my-special-animation">{{userDup}}</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-success' : signupForm.email.$valid && signupForm.email.$dirty && !emailDup, 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty || emailDup }">
                            <input class="form-control input-lg" type="email" id="email" name="email" ng-model="email" placeholder="Email*" check-email required>
                            <div class="help-block text-danger" ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
                                <span class="help-block text-danger my-special-animation" ng-show="signupForm.email.$error.required">Required</span>
                                <span class="help-block text-danger my-special-animation" ng-show="signupForm.email.$error.check">No valid E-mail address.</span>
                            </div>
                            <div class="help-block text-danger" ng-if="emailDup">
                                <span class="help-block text-danger my-special-animation">{{emailDup}}</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-success' : signupForm.password.$valid && signupForm.password.$dirty, 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
                            <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password*" check-password required>
                            <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
                                <span class="help-block text-danger my-special-animation" ng-show="signupForm.password.$error.required">Required</span>
                                <span class="help-block text-danger my-special-animation" ng-show="signupForm.password.$error.check">Must contain 6-20 characters.</span>
                                <span class="help-block text-danger my-special-animation" ng-show="signupForm.password.$error.minNumber">Must contain at least one number.</span>
                                <span class="help-block text-danger my-special-animation" ng-show="signupForm.password.$error.minBigChar">Must contain at least one big letter.</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-success' : signupForm.confirmPassword.$valid && signupForm.confirmPassword.$dirty, 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
                            <input class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" confirm-password match-target="password" placeholder="Confirm Password*" required>
                            <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
                                <span class="help-block text-danger my-special-animation" ng-show="signupForm.confirmPassword.$error.required">Required</span>
                                <span class="help-block text-danger my-special-animation" ng-show="signupForm.confirmPassword.$error.match">Passwords do not match.</span>
                            </div>
                        </div>
                        <span class="help-block text-danger my-special-animation">* Required</span>
                        <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">Create Account</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Placeholder (neccessary for layout) -->
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    </div>
</div>
