@import "../colors";

#about {
    .row {
        #about-content {
            .row {
                div {
                    a {
                        color: $bluegrey;
                        text-align: center;
                        display: block;
                        width: auto;
                        height: auto;
                        margin: 0;
                    }
                }
            }
        }
    }
}
