@import "../colors";

#profile {
    height: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: hidden;
    #profile-header {
        max-height: 55px !important;
        margin-bottom: 0;
        div {
            header {
                height: 55px !important;
                #profile-header-left {
                    height: inherit;
                    display: flex;
                    flex-flow: flex-start;
                    float: left;
                    #profile-avatar {
                        height: inherit;
                        max-height: inherit;
                    }
                }
                #profile-header-left {
                    height: inherit;
                    display: flex;
                    flex-flow: flex-start;
                    float: left;
                    #profile-avatar {
                        height: inherit;
                        max-height: inherit;
                    }
                }
                #profile-header-right {
                    float: right;
                }
            }
        }
    }
    #profile-body {
        height: calc(100% - 100px);
        max-height: calc(100% - 100px);
        margin: 15px 0 0 0 !important;
        #profile-left {
            margin-bottom: 0 !important;
            height: 100%;
            .row {
                margin-bottom: 0 !important;
                height: inherit;
                div {
                    height: 50%;
                    .panel {
                        height: 100%;
                        .panel-heading {
                            height: auto;
                        }
                    }
                }
                #profile-marketplace-short {
                    margin: 15px 0;
                    .panel {
                        margin: 0;
                        .panel-body {
                            #profile-mp-items {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                #profile-mp-item {
                                    width: 32px;
                                    height: 32px;
                                    border: 1px solid $primary;
                                }
                            }
                        }
                    }
                }
            }
        }
        #profile-log {
            height: 100%;
            margin: 0 !important;
            .panel {
                height: calc(100% + 15px);
                margin: 0;
            }
        }
    }
}

#chat {
    width: 300px;
    height: 75%;
    position: absolute;
    top: 12.5%;
    right: -275px;
    background-color: #FFFFFF;
    .panel-heading {
        text-align: center;
    }
    #arrow {
        width: 25px;
        height: 25px;
        color: $primary;
        margin-top: calc((100% - 25px) / 2)
    }
}
