@import "colors";

#ui-nav {
    float: left;
    min-height: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    margin-bottom: 0 !important;
    .navbar {
        margin-bottom: 0;
        float: left;
        background-color: #FFFFFF;
        color: $primary;
        width: 55px;
        height: 100%;
        padding-right: 2px;
        margin-right: 0;
        border-bottom: none;
        #nav-toggle {
            background-color: #FFFFFF;
            color: $primary;
            border-radius: 0;
            border: 0;
            width: inherit;
            height: 55px;
            margin: 0;
            padding: 0;
        }
        .navbar-nav {
            width: inherit;
            li {
                display: block;
                width: inherit;
                a {
                    display: block;
                    width: inherit;
                    text-align: center;
                    color: $primary;
                }
                #logout {
                    border: none;
                }
            }
        }
    }
}
