/* Import bootstrap */
@import "bootstrap.min.css";
/* Colors */
$primary: #932D24;
$secondary: #69931E;

html {
    width: 100%;
    height: 100%;
    body {
        height: 100%;
        background-color: #FFFFFF;
        color: $primary;
        #ui-nav {
            .navbar {
                float: left;
                background-color: #FFFFFF;
                color: $primary;
                width: 55px;
                height: 100%;
                padding-right: 2px;
                margin-right: 0;
                #nav-toggle {
                    background-color: #FFFFFF;
                    color: $primary;
                    border-radius: 0;
                    border: 0;
                    width: inherit;
                    height: 55px;
                    margin: 0;
                    padding: 0;
                }
                .navbar-nav {
                    width: inherit;
                    li {
                        display: block;
                        width: inherit;
                        a {
                            display: block;
                            width: inherit;
                            text-align: center;
                            color: $primary;
                        }
                    }
                }
            }
        }
        #content {
            float: left;
            margin-left: 55px;
            width: calc(100% - 55px);
            .container-fluid {
                .row {
                    margin-bottom: 20px;
                    #play-button {
                        .btn {
                            border-radius: 0;
                            background-color: $primary;
                            color: #FFFFFF;
                        }
                    }
                    div {
                        .thumbnail {
                            border-radius: 0;
                            border-color: $secondary;
                            .caption {
                                h3 {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
