/* Import bootstrap */
@import url(bootstrap.min.css);
/* Colors */
/* Import stylesheets */
#ui-nav {
  float: left;
  min-height: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
  margin-bottom: 0 !important; }
  #ui-nav .navbar {
    margin-bottom: 0;
    float: left;
    background-color: #FFFFFF;
    color: #932D24;
    width: 55px;
    height: 100%;
    padding-right: 2px;
    margin-right: 0;
    border-bottom: none; }
    #ui-nav .navbar #nav-toggle {
      background-color: #FFFFFF;
      color: #932D24;
      border-radius: 0;
      border: 0;
      width: inherit;
      height: 55px;
      margin: 0;
      padding: 0; }
    #ui-nav .navbar .navbar-nav {
      width: inherit; }
      #ui-nav .navbar .navbar-nav li {
        display: block;
        width: inherit; }
        #ui-nav .navbar .navbar-nav li a {
          display: block;
          width: inherit;
          text-align: center;
          color: #932D24; }
        #ui-nav .navbar .navbar-nav li #logout {
          border: none; }

#content {
  float: left;
  margin-left: 55px;
  width: calc(100% - 55px);
  border-left: 1px solid #932D24;
  min-height: 100% !important;
  height: 100% !important; }
  #content .container-fluid .row {
    margin-bottom: 20px; }
    #content .container-fluid .row #logo-container h1 span {
      color: #932D24; }
    #content .container-fluid .row #play-button .btn {
      border-radius: 0;
      background-color: #932D24;
      color: #FFFFFF; }
@font-face {
  #content .container-fluid .row #play-button .btn {
    font-family: "Helvetica";
    src: url("../fonts/Transformers Movie.ttf"); } }
@font-family-base {
  #content .container-fluid .row #play-button .btn {
    font-family: "Helvetica";
    src: url("../fonts/Transformers Movie.ttf"); } }
    #content .container-fluid .row div .thumbnail {
      border-radius: 0;
      border: none; }
      #content .container-fluid .row div .thumbnail .caption {
        padding: 0;
        display: block;
        height: 46px;
        color: #FFFFFF;
        background-color: #17525A;
        text-align: center; }

#login-wrapper .row {
  margin-top: calc((100% - 70.75px)/6); }
  #login-wrapper .row div .panel .panel-body form .form-group input {
    border: none;
    border-radius: 0; }
    #login-wrapper .row div .panel .panel-body form .form-group input:focus {
      border: 1px solid #932D24;
      box-shadow: none; }
  #login-wrapper .row div .panel .panel-body form button {
    background-color: #932D24;
    border-radius: 0;
    border: none; }
  #login-wrapper .row div .panel .panel-body p {
    text-align: center; }

#registration-wrapper .row {
  margin-top: calc((100% - 70.75px)/6); }
  #registration-wrapper .row div .panel form .form-group input {
    border: none;
    border-radius: 0; }
    #registration-wrapper .row div .panel form .form-group input:focus {
      border: 1px solid #932D24;
      box-shadow: none; }
  #registration-wrapper .row div .panel form button {
    background-color: #932D24;
    border-radius: 0;
    border: none; }
  #registration-wrapper .row div .panel p {
    text-align: center; }

#about .row #about-content .row div a {
  color: #17525A;
  text-align: center;
  display: block;
  width: auto;
  height: auto;
  margin: 0; }

#profile {
  height: 100% !important;
  max-height: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
  overflow-x: hidden; }
  #profile #profile-header {
    max-height: 55px !important;
    margin-bottom: 0; }
    #profile #profile-header div header {
      height: 55px !important; }
      #profile #profile-header div header #profile-header-left {
        height: inherit;
        display: flex;
        flex-flow: flex-start;
        float: left; }
      #profile #profile-header div header #profile-header-left {
        height: inherit;
        display: flex;
        flex-flow: flex-start;
        float: left; }
        #profile #profile-header div header #profile-header-left #profile-avatar {
          height: inherit;
          max-height: inherit; }
      #profile #profile-header div header #profile-header-right {
        float: right; }
  #profile #profile-body {
    height: calc(100% - 100px);
    max-height: calc(100% - 100px);
    margin: 15px 0 0 0 !important; }
    #profile #profile-body #profile-left {
      margin-bottom: 0 !important;
      height: 100%; }
      #profile #profile-body #profile-left .row {
        margin-bottom: 0 !important;
        height: inherit; }
        #profile #profile-body #profile-left .row div {
          height: 50%; }
          #profile #profile-body #profile-left .row div .panel {
            height: 100%; }
            #profile #profile-body #profile-left .row div .panel .panel-heading {
              height: auto; }
              #profile #profile-body #profile-left .row div .panel .panel-heading #submitProfileChanges {
                visibility: hidden; }
        #profile #profile-body #profile-left .row #profile-marketplace-short {
          margin: 15px 0; }
          #profile #profile-body #profile-left .row #profile-marketplace-short .panel {
            margin: 0; }
            #profile #profile-body #profile-left .row #profile-marketplace-short .panel .panel-body #profile-mp-items {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap; }
              #profile #profile-body #profile-left .row #profile-marketplace-short .panel .panel-body #profile-mp-items #profile-mp-item {
                width: 32px;
                height: 32px;
                border: 1px solid #932D24; }
    #profile #profile-body #profile-log {
      height: 100%;
      margin: 0 !important; }
      #profile #profile-body #profile-log .panel {
        height: calc(100% + 15px);
        margin: 0; }

#chat {
  width: 300px;
  height: 75%;
  position: absolute;
  top: 12.5%;
  right: -275px;
  background-color: #FFFFFF; }
  #chat .panel-heading {
    text-align: center; }
  #chat #arrow {
    width: 25px;
    height: 25px;
    color: #932D24;
    margin-top: calc((100% - 25px) / 2); }

.navbar-default {
  width: 100%;
  border-radius: 0;
  border: none;
  margin: 0;
  background-color: #FFFFFF; }

#searchFriendsTable {
  visibility: hidden;
  width: 0;
  height: 0;
  z-index: -1; }

#chat {
  z-index: 5;
  visibility: hidden;
  width: 275px;
  height: 450px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #FFFFFF;
  border: 1px solid #932D24; }
  #chat header p {
    float: left; }
  #chat main {
    width: 273px;
    height: 404px;
    max-height: 404px;
    overflow-y: scroll; }
    #chat main #message {
      display: block;
      background-color: #BD564E;
      margin: 10px 10px;
      padding: 10px 10px;
      color: #FFFFFF;
      border-radius: 10px;
      width: 223px;
      float: left; }
    #chat main #friendsMessage {
      display: block;
      background-color: #89AF48;
      margin: 10px 10px;
      padding: 10px 10px;
      color: #FFFFFF;
      border-radius: 10px;
      width: 223px;
      float: right; }
  #chat footer {
    position: absolute;
    bottom: 0;
    left: 0; }
    #chat footer button {
      width: 70px;
      height: 26px;
      float: right;
      border: none;
      background-color: #FFFFFF;
      font-weight: bold; }

/*@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Transformers\ Movie.ttf");
}
@font-family-base {
    font-family: "Helvetica";
    src: url("../fonts/Transformers\ Movie.ttf");
}*/
html {
  width: 100%;
  height: 100%;
  max-height: 100%; }
  html body {
    height: 100%;
    max-height: 100%;
    background-color: #FFFFFF;
    color: #932D24;
    overflow-x: hidden;
    z-index: 0; }

/*# sourceMappingURL=style.css.map */
