/* Import bootstrap */
@import "bootstrap.min.css";
/* Colors */
@import "colors";
/* Import stylesheets */
@import "navigation";
@import "content";
@import "views/login";
@import "views/about";

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Transformers\ Movie.ttf");
}
@font-family-base {
    font-family: "Helvetica";
    src: url("../fonts/Transformers\ Movie.ttf");
}

html {
    width: 100%;
    height: 100%;
    body {
        height: 100%;
        background-color: #FFFFFF;
        color: $primary;
    }
}
