
        <header>Chat mit Freund!
        </header>
        <main></main>
        <footer>
            <input type="text" id="chattext">
            <button type="submit">Send</button>
        </footer>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script>
        $(document).ready(function() {
            $('button').click(function() {
                var text = $('#chattext').val();
                $('main').append('<p><b>{{ user.username }}</b> ' + text + '</p>' )
                $('#chattext').val('');
            });
        });
        </script>
