<div class="container" ng-Controller="LobbyCtrl">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Lobby</h2>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-6 well well-sm">
            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form method="post" ng-submit="createLobby()" name="createGameForm" class="form-inline" role="form">

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label for="namefield">Create Game:</label>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <input class="form-control" id="namefield" ng-model="lobbyname" type="text" placeholder="Lobby name">
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <button type="submit" ng-disabled="createGameForm.$invalid" class="btn btn-danger">Create</button>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="text-danger" ng-if="userNotFound">
                    <span class="text-danger my-special-animation">{{userNotFound}}</span>
                </div>
            </div>
        </div>

        </div>
            <table class="table table-hover">
                <tr>
                    <th class="text-center">Lobby</th>
                    <th class="text-center">Map</th>
                    <th class="text-center">Max. Players</th>
                    <th class="text-center">Surviving Time</th>
                    <th></th>
                </tr>
                <tr ng-repeat="lobby in lobbys">
                    <td class="text-center">{{lobby.name}}</td>
                    <td class="text-center">{{lobby.mapName}}</td>
                    <td class="text-center">{{lobby.maxPlayers}}</td>
                    <td class="text-center">{{lobby.survivingTime}}</td>
                    <td><button ng-click="join(lobby.name)">Join</button></td>
                </tr>
            </table>
      </div>
    </div>
  </div>
</div>
