<div class="container" ng-Controller="LobbyCtrl">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Lobby</h2>
        <a ui-sref="root.game.game" ng-click="generateWorld()">Create Game</a>
        <table class="table table-hover">
            <tr>
                <th class="text-center">World</th>
                <th class="text-center">Map</th>
                <th class="text-center">Max. Players</th>
                <th class="text-center">Surviving Time</th>
                <th></th>
            </tr>
            <tr ng-repeat="world in worlds">
                <td class="text-center">{{world.id}}</td>
                <td class="text-center">{{world.name}}</td>
                <td class="text-center">{{world.maxPlayers}}</td>
                <td class="text-center">{{world.survivingTime}}</td>
                <td><button ng-click="generatePlayer()">Join</button></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>
